# created by virtualenv automatically

# Distribution / packaging
Lib/
Scripts/

# virtualenv
.venv
venv/
ENV/
pyvenv.cfg
__pycache__/

# PyCharm IDE
.idea/

# pyinstaller
build/
*.spec

# project
notes.txt
ffmpeg.exe

